@import url(./colors.css);
@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-blue-color);
  color: var(--text-color-black);
  line-height: 1.6;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--primary-blue-color);
  position: relative;

  .logo {
    color: var(--white-color);
    font-size: 2.5rem;
    align-self: center;

    spam {
      color: var(--light-blue-color);
    }
  }

  .menu-navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: center;
    margin-right: 20px;

    .item-menu {
      color: var(--white-color);
      font-size: 1.2rem;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--light-blue-color);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: var(--primary-blue-color);

  .text-header {
    color: var(--white-color);
    width: 600px;
    padding: 50px;

    .title {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .subtitle {
      font-size: 1rem;
    }

    .details {
      font-size: 2.5rem;
      color: var(--white-blue-color);
      padding: 5px;
    }
  }

  .img-header-container {
    margin-bottom: 0;
    padding: 0;
    width: 480px;
    height: 600px;

    .img-header {
      width: 480px;
      height: 600px;
    }
  }

  .btn {
    display: inline-block;
    padding: 15px;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--secondary-blue-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 20px;

    &:hover {
      background-color: var(--white-blue-color);
      color: var(--text-color-blue);
    }
  }
}

.menu-booking {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-self: end;
  justify-content: space-around;
  padding: 35px;
  background-color: var(--light-blue-color);
  border-radius: 25px 0 0 0;

  .form-booking {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .label-group {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .img-label {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      filter: invert(29%) sepia(83%) saturate(747%) hue-rotate(169deg)
        brightness(91%) contrast(85%);
    }

    label {
      font-size: 12px;
      color: var(--text-color-blue);
    }

    input,
    select {
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: var(--light-blue-color);
      color: var(--text-color-blue);
      font-size: 16px;

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        color: var(--text-color-blue);
      }
    }

    .input-group:first-child {
      width: 20%;
    }
  }

  .btn-booking {
    padding: 20px;
    font-size: 1rem;
    color: var(--white-color);
    background-color: var(--secondary-blue-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    align-self: center;

    &:hover {
      background-color: var(--primary-blue-color);
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  padding: 50px;
  background-color: var(--white-color);

  .title-about {
    font-size: 2.8rem;
    align-self: flex-start;
    color: var(--text-color-blue);
  }

  .title-about spam {
    color: var(--light-blue-color);
    font-size: 5rem;
  }

  .description-about {
    font-size: 1rem;
    color: var(--text-color-blue);
    padding: 10px;
  }

  .description-about span {
    color: var(--light-blue-color);
    font-weight: bold;
  }

  .container-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }

  .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--light-blue-color);
    border-radius: 20px 0 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.rating {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 50px;
  justify-content: center;
  text-align: center;
  color: var(--text-color-white);

  .card-text {
    padding: 20px;
    align-self: flex-start;
    text-align: left;

    & h1 {
      font-size: 4rem;
    }

    & p {
      font-size: 15px;
    }
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: auto;

    .card {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 10px;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
      border-radius: 10px;
      padding: 20px;
      text-align: left;
      align-items: center;

      & h3 {
        font-size: 40px;
        color: var(--white-blue-color);
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

.gallery {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 30px;

  .card-text {
    padding: 10px;
  }

  .title-gallery {
    font-size: 2.5rem;
    color: var(--text-color-blue);
  }

  .container-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
  }

  .img-gallery,
  img {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }

  .img-gallery:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: var(--secondary-blue-color);
  padding: 10px;
  color: var(--white-color);
}
